.summary {
    color: #808080;
    border-left: 5px solid #A6192E;
    font-size:16px;
}


/* h3 {color: #A6192E; } */
/* h4 {color: #808080; } */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #76232F;
    color: white;
}

.nav > li.active > a {
    background-color: #A6192E;
}

.nav > li > a:hover {
    background-color: #76232F;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #A6192E;
}

.nav li.thirdlevel > a {
    background-color: #D6D2C4 !important;
    color: #76232F;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #A6192E;
    border-color: #D6D2C4;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
    color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #D6D2C4;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #D6D2C4;
    color: #76232F;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #76232F !important;
}

.btn-primary {
    color: #D6D2C4;
    background-color: #A6192E;
    border-color: #A6192E;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #A6192E;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #76232F;
    border-color: #A6192E;
}

.printTitle {
    color: #D6D2C4 !important;
}

h1 {color: #A6192E !important; font-size: 36px !important; font-weight: bold !important;}
h2 {color: #76232F !important; font-size: 30px !important; font-weight: bold !important;}
h3 {color: #595959 !important; font-size: 26px !important; font-weight: bold !important;}
h4 {color: #A6192E !important; font-size: 22px !important; font-weight: bold !important; font-style: italic !important;}
h5 {color: #76232F !important; font-size: 19px !important; font-weight: bold !important; font-style: italic !important;}
h6 {color: #595959 !important; font-size: 16px !important; font-weight: bold !important; font-style: italic !important;}

body.print h1 {color: #A6192E !important; font-size:36px !important;}
body.print h2 {color: #A6192E !important; font-size:30px !important;}
body.print h3 {color: #76232F !important; font-size:24px !important;}
body.print h4 {color: #76232F !important; font-size:22px !important;}
body.print h5 {color: #595959 !important; font-size:20px !important;}
body.print h6 {color: #595959 !important; font-size:18px !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #D6D2C4;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #A6192E;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #D6D2C4;
}

.navbar-inverse .navbar-toggle {
    border-color: #D6D2C4;
}
