{{ $current_page := . }}
{{ $menu_name := (path.Base (path.Split .Path).Dir) }}
{{ with (index .Site.Menus $menu_name) }}
{{ else }}
{{ errorf "Please define menu items named `[menu.%s]` in your %s front matter or define `[[menu.%s]]` in `config.toml`." $menu_name .Path $menu_name }}
{{ end }}

<nav class="collapse docs-links" id="docs-nav">
  {{ with (index .Site.Menus $menu_name) }}
  {{ range (index $.Site.Menus $menu_name).ByWeight }}
    <div class="docs-toc-item{{ if $current_page.IsMenuCurrent $menu_name . }} active{{ end }}">
    <button class="dropdown-btn"{{ if .URL }}href="{{ .URL }}"{{else if .HasChildren }}href="{{ (index .Children 0).URL }}"{{end}}>{{ .Name }}    
	</button>

    {{- if .HasChildren }}
     <ul class="dropdown-container" {{if $current_page.HasMenuCurrent $menu_name . }} style="display: block;" {{else}} style="display: none;"{{ end }} >
      {{ range .Children }}
      <li {{ if $current_page.IsMenuCurrent $menu_name . }}class="active"{{ end }}>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}	
  </div>
  {{ end }}
  {{ end }}
</nav>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>
